/* *{
  outline: 1px solid red;
} */




.menu img{
    border: 3px solid orange;
    border-radius: 20px;
}

.menu h5{
    border-bottom: 2px dotted orange;
}






@media(max-width: 992px) {

  .menu{
    display: block !important;
  }

  .menu-section{
    display:flex !important; 
    justify-content: center !important;
    align-items: center !important;
    flex-direction:column !important;
  }
} 


@media(max-width: 458px) {

  .categories{
    display: block !important;
  }

  .menu-section{
    display:flex !important; 
    justify-content: center !important;
    align-items: center !important;
    flex-direction:column !important;
  }
}
